Modifiers are code that can be run before and / or after a function call.

Modifiers can be used to:
- Validate inputs
- Check contract state
- Restrict access

```solidity
{{{FunctionModifier}}}
```
