You can interact with a smart contract by calling the functions defined in the contract.

Functions that change state variables cost Ether.

Functions that do not change the state is free when it is called by an account.

```solidity
{{{Function}}}
```
