{
  "semi": false,
  "tabWidth": 4,
  "printWidth": 88,
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "printWidth": 88,
        "tabWidth": 4,
        "useTabs": false,
        "singleQuote": false,
        "bracketSpacing": false
      }
    }
  ]
}
