// metadata
export const version = "{{{version}}}"
export const title = "{{{title}}}"
export const description = "{{{description}}}"

export const keywords = [
{{#keywords}}
    "{{{.}}}",
{{/keywords}}
]

export const codes = [
    {{#codes}}
    {
        fileName: "{{key}}",
        code: "{{{val}}}",
    },
    {{/codes}}
]

const html = `{{{html}}}`

export default html
