
{{#routes}}
import {{{componentName}}} from "{{{importPath}}}"
{{/routes}}

const routes = [
  {{#routes}}
    {
        path: "{{{routePath}}}",
        component: {{{componentName}}}
    },
  {{/routes}}
]

export default routes