{{#routes}}
import {{{componentName}}} from "{{{importPath}}}"
{{/routes}}

interface Path {
  title: string
  path: string
}

interface Paths {
  prev: Path | null
  next: Path | null
}

interface Route {
  path: string
  component: React.FC<Paths>
  breakingChanges?: boolean
}

const routes: Route[] = [
  {{#routes}}
    {
        path: "{{{routePath}}}",
        component: {{{componentName}}}
    },
  {{/routes}}
]

export default routes