Let's create an multi-sig wallet. Here are the specifications.

The wallet owners can
- create transaction
- sign and unsign pending transcations

Anyone can process process a transcation after enough owners has signed it.

```solidity
{{{MultiSigWallet}}}
```
