Transactions cost `gas`. You pay `gas price * gas` in Ether.

You specify the gas price. Transactions will be processed faster with higher gas price.

Unspent gas will be refunded.

There are two limits to the amount of gas you can spend
- gas limit set by you (how much you are willing to pay for the transaction)
- maximum amount of gas allowed in a block set by the network

```solidity
{{{Gas}}}
```
