Looping in Solidity is tricky.

The number of iteration in a loop can grow and spend more gas than the
gas limit, causing your contract to stall.

There are two gas limits to keep in mind.

- Transcation gas limit, set by the caller.
- Block gas limit

```solidity
{{{Loop}}}
```
