.component {
  margin: 15px;
  color: #261a3b;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.row .bar {
  margin-left: 5px;
  margin-right: 5px;
}
.row a,
.row a:visited {
  color: #261a3b;
}
.khan {
  margin-left: 10px;
}
.social {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.telegram {
  width: 30px;
  margin: 5px;
}
.discord {
  width: 30px;
  margin: 5px;
}
.youTube {
  width: 30px;
  margin: 5px;
}
