.component {
  margin: 15px;
  color: var(--color);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.row .bar {
  margin-left: 5px;
  margin-right: 5px;
}
.row a,
.row a:visited {
  color: var(--link-color);
}
.to {
  margin: 0 5px 0 5px;
}
.social {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.updraft {
  width: 20px;
  margin: 5px;
  border-radius: 4px;
}
.telegram {
  width: 20px;
  margin: 5px;
}
.discord {
  width: 20px;
  margin: 5px;
}
.youTube {
  width: 20px;
  margin: 5px;
}
