:root {
  --black: #252519;
}
/* custom scroll */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background-color: #cccccc;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 20px;
  color: var(--black);
  /* min-width: 400px; */
}
pre {
  padding: 15px;
  margin: 0;
  background: #eee;
  font-size: 14px;
  /* position: relative; */
  overflow-x: scroll;
}

pre .buttons {
  /* position: absolute;
  right: 5px;
  left: 5px; */
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
pre .buttons button {
  color: inherit;
  background: transparent;
  border: none;
  cursor: inherit;
}
pre .buttons button:hover {
  color: #008cff;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  color: rgb(231, 76, 60);
}
.language-solidity {
  display: block;
  color: var(--black);
}
a,
a:visited {
  color: #261a3b;
}
h2 {
  font-size: 32px;
  line-height: 40px;
}
em {
  font-style: italic;
}

/* code */
.hljs-code,
.hljs-keyword,
.hljs-literal,
.hljs-number,
.hljs-selector-tag {
  color: #0758fc !important;
}

pre {
  background: #f5f5f5 !important;
}

.hljs-comment,
.hljs-quote {
  color: #5f5f55 !important;
}
